@import "tailwindcss";

:root {
  --background: #F4F6F9;
  --foreground: #2C3E50;
  --degraded_1: #dcdee2;
  --degraded_2: #c6c8cc;
  --accent: #00B4D8;
  --light_background: #E8F0FE;
  --button: #0A66C2;
  --full: #fcfdff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-degraded_1: var(--degraded_1);
  --color-degraded_2: var(--degraded_2);
  --color-accent: var(--accent);
  --color-button: var(--button);
  --color-light_background: var(--light_background);
  --color-full: var(--full);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121826;
    --foreground: #E2E8F0;
    --degraded_1: #161e30;
    --degraded_2: #182238;
    --accent: #38BDF8;
    --light_background: #1e293b;
    --button: #0A66C2;
    --full: #0c0f18;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
